body {
  font: 300 14px/1.2 'Public Sans', sans-serif;
}

.container-fluid {
  max-width: 90%;
}
.headerbgimage{
	background-image: url("../img/vaccine_banner.png");
}

.headerBlock{
  background-color: #011E3C;
  height: 138px;
  padding-top: 30px;
  background-image: url("../img/sag_cloud2.png");
  background-repeat: no-repeat, repeat;
  background-position: right;
  background-size: contain;
}

.cle_product_Block{
  background-color: #F2F2EA;
}

.repoBlock1{
  background-color: white;
  margin-left: 5px;
  max-width: 368px;
  margin-right: -1px;
  margin-bottom: 35px;

}


.myreposBlock{
  background-color: #F2F2EA;
}

.repoBlock2{
  background-color: white;
  margin-left: 50px;
  max-width: 368px;
  margin-right: -10px;
  margin-bottom: 35px;

}


.connbg-image{
    background-image: url("../img/sagtc.jpg");
    height:80px;
}


.main-header {
  color: #fff!important;
  background-color:#011E3C;;
}

.tab-header {
    color: #fff!important;
}
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: #8FBC8B;
  float: left;
  border: none;
  outline: groove;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #6B8E23;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
//end of tabs



.bottonBoxBig{
    margin-top: 10px;
}
.bottonBoxSmallEnds{
    margin: 1px;
    padding-top: 3px;
    background-color: #3CC1B7 !important;
}
.bottonBoxSmallMiddle{
        margin: 1px;
        padding-top: 3px;
        background-color: #D9EC27 !important;
}



/* ################Tooltip START ################ */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.statusLine1{
  height:2px;
  border-width:0;color:gray;
  background-color:green; 
  width:100%;
   margin-top: -16px;
}
.statusLine2{
  height:2px;
  border-width:0;color:gray;
  background-color:red; 
  width:100%;
   margin-top: -16px;
}


.vbutton {
  background-color: #4CAF50;
  border: none;
  color: white;
 // padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
/* ################Tooltip END ################ */

.buttoninfo{
	  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  letter-spacing: 0.05em;
}

.buttoninfo2 {
	 width: 75%;
	
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: black;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(192,192,192,1) 0%, rgba(192,192,192,1) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #C0C0C0;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buttoninfo2:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #C0C0C0;
}


.tabv {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 15%;
  height: 100%;
}

/* Style the buttons that are used to open the tab content */
.tabv button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tabv button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tabv button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontentv {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 85%;
  border-left: none;
  height: 100%;
}






